@import '../../styles/app';

.root {
  :global {
    .post-comments footer {
      margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
      padding: $widget-padding-vertical $widget-padding-horizontal;
    }

    .stat-item .name {
      margin-top: 10px;
    }
  }
  
}

.table {
  :global(.table.table-sm) {
    td {
      font-size: 1rem;
      vertical-align: middle;
    }
  }
}
.divRow{
  //background-color: red;
  margin:-20px;
}

.ResultCard{
  margin-right: -20px;
  //padding: 15px 20px;
}

.taskContainer{
  section{
    height: 310px;
  }
}
.buttonTable{
  border-radius: 3em;
  font-size: 10px;

  width: 6%;
  margin-right: 5px;
}